{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <h1>POWER STAR PAWAN KALYAN</h1>
    <div class="outer">
        <img src="{% static 'images/OG_INSTA.jpg' %}" alt="" id="image">
        <div class="out2">
            <table>
                
                    <tr>
                        <td>Name :</td>
                        <td>Ojaas Gambhira</td>
                    </tr>
                    <tr>
                        <td>Role :</td>
                        <td>Gangster</td>
                    </tr>
                    <tr>
                        <td>City :</td>
                        <td>Bombay</td>
                    </tr>
                    <tr>
                        <td>Kills :</td>
                        <td>67</td>
                    </tr>
                    <tr>
                        <td>Movie :</td>
                        <td>They Call Him OG</td>
                    </tr>
                
                
            </table>
        </div>
    </div>
    
</body>
</html>